<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clayton's Microservices</title>
    <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1>Microservices</h1>
        <nav>
            <ul>
                <li><a href="/stamp_of_time">Stamp of Time</a></li>
                <li><a href="/whoami">Who Am I? (device)</a></li>
                <li><a href="/shorturl">Shorturl</a></li>
                <li><a href="/file_metadata">File Metadata</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <p>By: Clayton McDaniel</p>
        <p>Github Repository: <a href="https://github.com/Altycon" target="_blank">https://github.com/Altycon</a></p>
        <p>&copy;&nbsp;2023</p>
    </footer>
</body>
</html>