<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILE METADATA || Clayton's Microservices</title>
    <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="file-metadata_header">
        <a href="/" class="home_link">HOME</a>
        <h1>File Metadata<br>Microservice</h1>
    </header>
    <main>
        <section class="how">
            <header>
                <h3>How do you use this service?</h3>
            </header>
            <p>Select a file to be uploaded.</p>
            <form action="/api/filestats" method="post" enctype="multipart/form-data" class="file-metadata_form">
                <input type="file" name="upfile" id="FileUploadInput" autocomplete="off">
                <button type="submit">Upload File</button>
            </form>
            <p>* No data is saved.</p>
        </section>
        <section class="what">
            <article>
                <header>
                    <h3>What does this service do?</h3>
                </header>
                <p>This will extract the metadata of any file the you upload.</p>
                <p>The metadata will include the name of the file, the type, and the size in bytes.</p>
                <p>The data will be returned as JSON object once the file is uploaded.</p>
            </article>
            <article>
                <header>
                    <h3>Example Output</h3>
                </header>
                <p>
                    <code>{ "name":"some_file.txt", "type":"text/plain", size: 1714 }</code>
                </p>
            </article>
        </section>
    </main>
    <footer class="footer">
        <p>Completed By: Clayton McDaniel</p>
        <p>Github Repository: <a href="https://github.com/Altycon" target="_blank">https://github.com/Altycon</a></p>
        <p>Challenge By: <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a></p>
      </footer>
</body>
</html>