<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stamp of Time Microservice</title>
    <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="who-am-i_header">
      <a href="/" class="home_link">HOME</a>
        <h1>Who am I? Microservice</h1>
      </header>
      <main>
        
        <section class="how">
          <header>
            <h3>How do you use this service?</h3>
          </header>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, quisquam?</p>
          <p>Click links below to try service.&nbsp;&darr;</span></p>
          <ul>
            <li><a href="api/whoami" target="_blank">http://www.clayton-microservices.herokuapp.com/api/whoami</a><span class="pointing-hand">&#9756;</span></li>
          </ul>
        </section>
        <section class="output">
          <article>
            <header>
              <h3>Example Output&nbsp;&darr;</h3>
            </header>
            <p>
              <code>{"ipaddress":"159.20.14.100",<br>"language":"en-US,en;q=0.5",<br>
                "software":"Mozilla/5.0 <br>(X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
            </p>
          </article>
          
        </section>
        <section class="what">
          <header>
            <h3>What is this service?</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur assumenda quos molestiae, mollitia magni eligendi.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, facilis?</p>
            <p>The data recieved will be in JSON format.</p>
          </header>
          <ul>
            <li>* ipaddress: The time in milliseconds since the Unix Epoch on January 1st, 1970.</li>
            <li>* language: </li>
            <li>* software: </li>
          </ul>
        </section>
      </main>
      <footer class="footer">
        <p>Completed By: Clayton McDaniel</p>
        <p>Challenge By: <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a></p>
      </footer>
</body>
</html>